<html>
    <head>
        <meta charset="utf-8">
        <title>AutoWash - Car Wash Website Template</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="Free Website Template" name="keywords">
        <meta content="Free Website Template" name="description">

        <!-- Favicon -->
        <link href="img/favicon.ico" rel="icon">

        <!-- Google Font -->
        <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700;800;900&display=swap" rel="stylesheet"> 
        
        <!-- CSS Libraries -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
        <link href="lib/flaticon/font/flaticon.css" rel="stylesheet">
        <link href="lib/animate/animate.min.css" rel="stylesheet">
        <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

        <!-- Template Stylesheet -->
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <div class="nav-bar">
            <div class="container">
                <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
                    <a href="#" class="navbar-brand">MENU</a>
                    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                        <div class="navbar-nav mr-auto">
                            <a href="/dashboard" class="nav-item nav-link active">Dashboard</a>
                            <a href="/ticket" class="nav-item nav-link">Tickets</a>
                           
                            <a href="#" class="nav-item nav-link">Contact</a>
                        </div>
                       
                    </div>
                    <form class="d-flex" method="post" action="/logout">
                       
                        <button class="btn btn-danger" type="submit">Logout</button>
                      </form>
                </nav>
            </div>
        </div>
        <br>
        <br>
        <div class="container">

        <table class="table">
            <thead>
              <tr>
                <th scope="col">id
                </th>
                <th scope="col">user</th>
                <th scope="col">postName</th>
                <th scope="col">numero</th>
                <th scope="col">TicketStatus</th>
                <th scope="col">task</th>
              </tr>
            </thead>
            <tbody>
                
                <% for (let ticket of Object.values(tickets)) {%>
                    
              <tr>
                <th scope="row"><%=ticket._id %></th>
                <td><%=ticket.user.fullname %></td>
                <td><%=ticket.postName %></td>
                <td><%=ticket.numero %></td>
                <td><%=ticket.statusTicket %></td>
                <td>  
                  <form class="d-flex" method="post" action="/ticket/<%=ticket._id %>"><button class="btn btn-success"> TRAITE</button></form>
                  
              </tr>
              <% } %>
            </tbody>
          </table>
        </div>
       
    </body>
</html>